/*

!/composer.json
!/composer.lock
!/Vagrantfile
!/beam.json
!/.htaccess
!/.gitignore
!/README.md
!/mysite/
!/docs
!/themes/
!/maintenance
!/assets/
/assets/*
!/assets/.htaccess
!/favicon.*

.DS_Store
