.column {
	padding: 0;

	.column__link {
		position: relative;
		display: block;
		padding: 0;
		text-decoration: none;
		.transition(all 500ms);
		background: #000;
		margin: 4px 2px;
		border-bottom: 0;
		overflow: hidden;
		cursor: pointer;

		.column__image {
			.transition(all 250ms);
			.transform(scale(1));
		}

		&:hover {
			text-decoration: none;

			.column__description {
				opacity: 1;
			}

			.column__image {
				.transition(all 250ms);
				.transform(scale(1.03));
				opacity: 0.5;
			}
		}

		.column__description {
			.transition(all 500ms);
			opacity: 0;
			position: absolute;
			top: 38%;
			width: 100%;
			text-align: center;
			z-index: 5;

			p {
				color: #FFF;
			}

			.column__title {
				text-transform: uppercase;
				font-size: 20px;
				font-weight: 200;
				color: #FFF;
			}
		}
	}
}

a.primary {
	width: 100vw;
	left: 50%;
	margin-left: -50vw;
}

a.full {
	clear: both;
	width: 100%;
	box-shadow: 0 3px 4px #000;
}

a.boxout2 {
	float: right;
	margin: 1em -4em 0 1em;
}

/* progressive image CSS */
a.progressive {
	position: relative;
	display: block;
	overflow: hidden;
	outline: none;
}

a.progressive img {
	display: block;
	width: 100%;
	max-width: none;
	height: auto;
	border: 0 none;
}

a.progressive img.preview {
	filter: blur(2vw);
}

a.progressive img.reveal {
	position: absolute;
	left: 0;
	top: 0;
	will-change: transform, opacity;
	animation: reveal 1s ease-out;
}

@keyframes reveal {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
