header {
	width: 100%;

	.header__title {
		text-align: left;
		float: right;
		font-weight: 500;
		margin-top: 26px;
		border: 0;
		.font-size(9, 9);

		@media @sm {
			.font-size(20, 20);
		}

		@media @md {
			.font-size(20, 29);
		}
	}

	.main__menu {
		display: none;
		list-style-type: none;
		float: left;
		margin: 35px 0 0;
		padding: 0;

		@media @sm {
			display: block;
		}

		.menu__item {
			display: inline-block;
		}

		.menu__link {
			display: inline-block;
			position: relative;
			color: @font-color-primary;
			margin-right: 20px;
			text-transform: uppercase;
			border-bottom: none;
			.font-size(9, 9);
			.transition(all 250ms);

			&:hover {
				text-decoration: none;
				border-bottom: 1px solid @font-color-primary-hover;
				color: @font-color-primary-hover;
			}

			&.menu__link--current,
			&.menu__link--section {
				color: @font-color-primary-hover;
			}
		}


	}
}



