.pagination {
	text-align: center;
	padding: 40px 0;
	height: 55px;

	.pagination__link {
		padding: 8px 12px;
		margin: 0 10px;
	}

	.pagination__pagenum {
		padding: 8px 12px;
		margin: 0 10px;
		color: #FFF;
		background: @color-primary;
	}
}